.stocklist {
  background: #17A2B8;
  min-height: 90px;
  margin-top: 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding-right: 0;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-left: 45px;
}