.banner {
  background-color: #f0f7ee;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  padding: 10px 60px;

  &__title {
    font-family: 'Alfa Slab One', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 80px;
    text-shadow: 10px 10px 0 #fff;

    span {
      height: 90px;
    }
  }

  &__img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
