.h55 {
  height: 55%;
}

.h40pl10 {
  height: 40%;
  padding-left: 10px;
}

.ffafs18 {
  font-family: 'Alata', sans-serif;
  font-size: 18px;
}

.h60fs13 {
  height: 60%;
  font-size: 13px;
}

.ffacyfs23 {
  font-family: 'Alfa Slab One', cursive;
  color: var(--yellow);
  font-size: 23px;
}